.card-container {
  cursor: move;
  position: relative;
  padding: 25px;
  width: 400px;
  background-color: black;
}

.example-action-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
  :first-child {
    margin: 0 10px;
  }
}

.square-left-icon {
  position: absolute;
  top: 50%;
  left: -15px;
}

.next-link-icon {
  position: absolute;
  right: -20px;
  top: 50%;
  z-index: 120;
}

.mat-overflow {
  height: 500px;
  overflow: auto;
  padding: 0 20px;
  margin: 20px 0;
}

.collapsed-text {
  position: relative;
}

.mat-expansion-panel {
  overflow: visible;
}

mat-panel-title {
  color: #69f0ae;
}
