<mat-card
  color="accent"
  class="card-container"
  cdkDrag
  [cdkDragFreeDragPosition]="c.position"
  (cdkDragEnded)="dragEnded_new($event)"
  (cdkDragMoved)="cdkDragMoved()"
>
  <mat-card-header>
    <mat-card-title>{{ data.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-action-buttons">
      <button color="primary" (click)="accordion?.openAll()" mat-raised-button>
        Expand All
      </button>
      <button color="accent" (click)="accordion?.closeAll()" mat-raised-button>
        Collapse All
      </button>
    </div>
    <button class="square-left-icon" color="accent" mat-icon-button>
      <mat-icon fontSet="fa" class="fas fa-2x" fontIcon="fa-caret-square-left">
      </mat-icon>
    </button>
    <div class="mat-overflow">
      <mat-accordion multi>
        <ng-container *ngFor="let s of data.subTitles" class="sub-content">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>
                  {{ s.subTitle }}
                </strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="collapsed-text">
              <p>
                {{ s.subBody }}
              </p>
            </div>
            <button class="next-link-icon" color="accent" mat-icon-button>
              <mat-icon
                fontSet="fa"
                class="fas fa-2x fa-rotate-270"
                fontIcon="fa-neuter"
              >
              </mat-icon>
            </button>
          </mat-expansion-panel>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
